<nav style="background: #111; padding: 15px 0; color: white">
  <div
    class="container"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <h2 style="margin: 0">
      <a href="/products" style="color: white">BeliNow</a>
    </h2>

    <div style="display: flex; gap: 20px">
      <a href="/products" style="color: white">Products</a>
      <a href="/products/add" style="color: white">Add Product</a>
    </div>
  </div>
</nav>
