<h2 class="mb-4">My Profile</h2>
<div class="card shadow-sm p-4">
  <p><strong>Username:</strong> <%= data.User.username %></p>

  <p><strong>Full Name:</strong> <%= data.fullName %></p>

  <p><strong>Address:</strong> <%= data.address %></p>

  <a
    href="/profiles/<%= data.User.username %>/edit"
    class="btn btn-dark mt-3"
    style="width: fit-content"
  >
    Edit Profile
  </a>
</div>
